@charset "UTF-8";


footer{
	height: 120px;
	padding-top:10px ;
	background-image: url('../images/renga2.png');
    background-repeat: repeat; 
	background-size: 40px 40px;


}

#footer__back--white {
	margin: auto;
	margin-top: 10px; 
	text-align: center;
	width: 70%;
	height: 60%;
	background-color: aliceblue;
	padding: 10px; 
  }